.wy-side-nav-search {
    background-color: #ECF0F1;
}

.wy-side-nav-search>a {
    color: #020d1c;
}

.wy-side-nav-search>div.version {
    color: #000; 
}

.custom-icon-home {
    background-image: url('_static/logo-transparent-stacked-png.png');
    background-repeat: no-repeat;
    width: 24px;  /* Set width of your icon */
    height: 24px;  /* Set height of your icon */
}
